//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02
//Part Number: GW5AST-LV138FPG676AC1/I0
//Device: GW5AST-138
//Device Version: B
//Created Time: Mon 09 15 18:12:26 2025

IO_LOC "tx" N16;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mdc" K23;
IO_PORT "mdc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[3]" K18;
IO_PORT "rgmii_txd[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[2]" L19;
IO_PORT "rgmii_txd[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[1]" J21;
IO_PORT "rgmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[0]" K21;
IO_PORT "rgmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_tx_ctl" J24;
IO_PORT "rgmii_tx_ctl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txc" H24;
IO_PORT "rgmii_txc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "phy_rstn" E17;
IO_PORT "phy_rstn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "phy_clk" E18;
IO_PORT "phy_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mdio" K22;
IO_PORT "mdio" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rx" P15;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[3]" E26;
IO_PORT "rgmii_rxd[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[2]" D26;
IO_PORT "rgmii_rxd[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[1]" C26;
IO_PORT "rgmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[0]" B26;
IO_PORT "rgmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rgmii_rx_ctl" C22;
IO_PORT "rgmii_rx_ctl" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rgmii_rxc" C23;
IO_PORT "rgmii_rxc" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key0_n" K16;
IO_PORT "key0_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "sys_clk" P16;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key2_n" G15;
IO_PORT "key2_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key1_n" F15;
IO_PORT "key1_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
CLOCK_LOC "sys_clk_d" BUFG = CLK;
CLOCK_LOC "rgmii_rxc_d" BUFG = CLK;
CLOCK_LOC "mac_tx_clk" BUFG = CLK;
